<div id="divnavBar" class="container">
    <nav class="navbar navbar-expand-lg">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <span id="navItemColor" class="nav-link">PIC+Welcome+USER!</span>
            </li>
        </ul>
        <div>
            <button type="button" class="btn btn-outline-dark">Sign Out</button>
        </div>
    </nav>
</div>