<div id="divnavBar" class="container">
    <nav class="navbar navbar-expand-lg">
        <div>
            <img id="userImg" src={{user.picture}}>
        </div>
        <div class="col">
            <span id="navItemColor">Welcome, {{user.name}}!</span>
        </div>
        <div class="col">
            <button id="marginSignOutBtn" type="button" class="btn btn-outline-dark">Sign Out</button>
        </div>
    </nav>
</div>