<div id="divnavBar" class="container">
    <nav class="navbar navbar-expand-lg">
        <div>
            <img id="userImg" src="http://media.comicbook.com/files/img/default-movie.png">
        </div>
        <div class="col">
            <span id="navItemColor">Welcome+USER!</span>
        </div>
        <div class="col">
            <button id="marginSignOutBtn" type="button" class="btn btn-outline-dark">Sign Out</button>
        </div>
    </nav>
</div>