{{> base}}
{{>navbar}}
<div class="container">
    <div id="homeForm" class="row">
        <form method="get" action="#" style="padding-left:27rem">
            <div class="input-group">
                <input name="name" type="text" class="form-control" placeholder="Insert repos name..." required>
                <button class="btn btn-primary" type="submit" role="button">Public Repos</button>
            </div>
        </form>
    </div>

    <div class="row" style="padding-left:33rem">
        <a class="btn btn-primary" href="#" role="button">Private Repos</a>
    </div>
</div>
{{>footer}}