{{>navbar}}
<div class="container">
    <div id="homeForm" class="row">
        <form id="homeInputBtn" method="get" action="/github/repos/public">
            <div class="input-group">
                <input name="keyword" type="text" class="form-control" placeholder="Insert repos name..." required>
                <button class="btn btn-primary" type="submit" role="button">Public Repos</button>
            </div>
        </form>
    </div>

    <div id="homePublicBtn" class="row">
        <a class="btn btn-primary" href="/login/github" role="button">Private Repos</a>
    </div>
</div>