{{> base}}
    <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-1"><span class="fa fa-user-secret"></span>Security App</h1>
        <p class="lead">Web Application for authentication demonstration. </p>
    </div>
    </div>

    <div class="container">
        <div align="center">
                <button type="button" class="btn btn-google"><a href="http://localhost:3000/google">
                    <div id="gImg"><img src="/images/google.png" width="30px"></div>
                    <div id="gTxt">Sign in with Google</div>
                </a>
                </button>
        </div>
    </div>
{{> footer}}
