{{> base}}
{{>navbar}}
{{#if list}}
    <h1 id="titleText" class="lead">{{message}}</h1>
    <div id="repoTable" class="list-group">
        {{#each list}}
            <a href="/github/repos/{{fullName}}/milestones" class="list-group-item list-group-item-action">{{fullName}}</a>
        {{/each}}
    </div>
{{else}}
    <h1 id="titleText" class="lead">No results found!</h1>
{{/if}}
{{>footer}}