#googleImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6px;
    width:25px;
}

#logInBtn {
    max-width: 200px;
}

#divnavBar {
    max-width:none;
    padding-left:0;
    padding-right:0;
    background-color: lightgray
}

#homeForm {
    padding-bottom: 5%;
    padding-top: 5%
}

#navItemColor {
    color: black
}

#loginJtronColor {
    background-color: lightgray
}

#homeInputBtn {
    padding-left:27rem
}

#homePublicBtn {
    padding-left:33rem
}

#userImg {
    border-radius: 50%;
    width: 40px;
}

#marginSignOutBtn {
    margin-left: 50rem
}

#repoTable {
    margin-left: 1.5rem;
    max-width: 400px;
}

#titleText {
    font-size: 30px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left:1.5rem;
}

#milestoneTable {
    margin-left: 1.5rem;
    max-width: 800px;
}

#milestoneFormButton {
    margin-top: 1rem;
    margin-left: 1.5rem;
}

label {
    display : block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
label > input { /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
label > input + div { /* DIV STYLES */
    cursor:pointer;
}
label > input:checked + div{ /* (RADIO CHECKED) DIV STYLES */
    background-color: #b9bbbe;
}